<div class="row">
  <div class="col-md-3">
    <% if @user.id == current_user.id %>
      <p>マイページ<p>
      <%= link_to '投稿する', new_post_path %>
    <% else %>
    <h1>
    <div class="text-success">
      <%= @user.name %>
    </div>
    </h1>
    <% end %>
  </div>
  <div class="col-md-9">
    <%= render 'posts/posts', posts: @posts %>
  </div>
</div>
