<div class="container">
  <div class="row mt-5" >
    <%= image_tag 'omiyage.jpg', size: "1000x400" %>
        <div class="col-md-10 offset-md-1 mt-4">
          <h2>サイトご覧いただきありがとうございます｡
            <br>こちらのサイトは各都道府県でどのようなお土産が購入されているのかを一覧で確認できるサイトになっております。
            <br>お土産を買う際にご活用いただければ幸いです。</h2>
        </div>
  </div>
</div>
