<h1>投稿一覧</h1>

<div class="row">
  <div class="col-md-2">
    <div>
      <%= link_to "すべて", root_path(), class: "btn btn-outline-secondary btn-block mb-1 #{ 'active' unless params[:prefecture_id].present? }" %>
    </div>
    <% @prefectures.each do |prececture| %>
      <div>
        <%= link_to prececture.name, root_path(prefecture_id: prececture.id), class: "btn btn-outline-secondary btn-block mb-1 #{ 'active' if params[:prefecture_id].to_i == prececture.id }" %>
      </div>
    <% end %>
  </div>
  <div class="col-md-10">
    <% if @posts.any? %>
      <%= render "posts/posts", posts: @posts %>
    <% else %>
      <p class="h3 mt-5 text-center">該当するレコードはありません。</p>
    <% end %>
  </div>
</div>
