<div class="row mt-5">
  <div class="col-md-6 offset-md-3">

    <h1 class="d-flex justify-content-center mb-4">編集フォーム</h1>

    <%= render 'posts/form', post: @post %>
  </div>
</div>
<%= link_to "Show", post_path(@post.id) %>| <%=link_to "Back", posts_path %>